body{
    background-color :#ffffff
    ;
}


.top{
    background-color:#408f8a;
    padding-bottom: 0.2%; /* espace entre le texte et le bas du container */
    margin-bottom: 0.4%;
}

.logo{
    width: 10%;
}   